<%- include('../../fragments/header.ejs')%>

<script type="application/javascript" src="/js/validationCommon.js"></script>
<script type="application/javascript" src="/js/validationVehicleForm.js"></script>

<main>
    <h2>Nowy Pojazd</h2>
    <form class="form" novalidate onsubmit="return validateForm();">
        <label for="VIN">VIN<abbr title="required" aria-label="required">*</abbr></label>
        <input type="text" name="VIN" id="VIN" />
        <span id="errorVIN" class="errors-text"></span>
        <label for="vehicleType">Typ pojazdu<sup>*</sup></label>
        <select name="vehicleType" id="vehicleType" >
            <option value="">--- Wybierz typ pojazdu ---</option>
            <option value="car">Samochód osobowy</option>
            <option value="truck">Samochód ciężarowy</option>
            <option value="bus">Autobus</option>
            <option value="motorBike">Motocykl</option>
        </select>
        <span id="errorVehicleType" class="errors-text"></span>
        <label for="brand">Marka<sup>*</sup></label>
        <input type="text" name="brand" id="brand" />
        <span id="errorBrand" class="errors-text"></span>
        <label for="model">Model<sup>*</sup></label>
        <input type="text" name="model" id="model" />
        <span id="errorModel" class="errors-text"></span>
        <label for="productionYear">Rok produkcji<sup>*</sup></label>
        <input type="text" name="productionYear" id="productionYear" />
        <span id="errorProductionYear" class="errors-text"></span>
        <label for="engineType">Typ silnika<sup>*</sup></label>
        <select name="engineType" id="engineType" >
            <option value="">--- Wybierz typ silnika ---</option>
            <option value="petrol">Benzyna</option>
            <option value="diesel">Diesel</option>
            <option value="hybrid">Hybryda</option>
            <option value="electric">Elektryczny</option>
        </select>
        <span id="errorEngineType" class="errors-text"></span>
        <label for="engineSize">Pojemność silnika</label>
        <input type="text" name="engineSize" id="engineSize" />
        <span id="errorEngineSize" class="errors-text"></span>
        <div class="form-buttons">
            <p id="errorsSummary" class="errors-text"></p>
            <input type="submit" class="form-button-submit" value="Dodaj">
            <a href="/vehicles" class="form-button-cancel">Anuluj</a>
        </div>
    </form>
</main>

<%- include('../../fragments/footer.ejs')%>