<%- include('../../fragments/header.ejs')%>

<main>
    <h2>Szczegóły warsztatu</h2>
    <form class="form">
            <label for="locationName">Nazwa Warsztatu</label>
            <input type="text" name="locationName" value="Warszawa-Jerozolimskie" id="locationName" disabled>
            <span></span>
            <label for="city">Miasto</label>
            <input type="text" name="city" value="Warszawa" id="city" disabled>
            <span></span>
            <label for="street">Ulica</label>
            <input type="text" name="street" value="Aleje Jerozolimskie" id="street" disabled>
            <span></span>
            <label for="streetNum">Numer Ulicy</label>
            <input type="text" name="streetNum" value="147" id="streetNum" disabled>
            <span></span>
            <label for="postCode">Kod Pocztowy</label>
            <input type="text" name="postCode" value="02-326" id="postCode" disabled>
            <span></span>
            <label for="post">Kraj</label>
            <input type="text" name="post" value="Polska" id="post" disabled>
            <span></span>
            <p><a href="/locations/add" class="list-actions-button-edit ">Edytuj</a></p>
    </form>

    <h2>Naprawy</h2>

    <table class="table-list">
        <thead>
        <tr>
            <th>ID</th>
            <th>Marka</th>
            <th>Model</th>
            <th>VIN</th>
            <th>Data Przyjęcia</th>
            <th>Data Zakończenia</th>
            <th>Do zapłaty</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Opel</td>
                <td>Corsa</td>
                <td>1NXBU4EE0AZ325696</td>
                <td>2020-12-1</td>
                <td>2020-12-5</td>
                <td>120 PLN</td>
                <td>
                    <ul class="list-actions">
                        <li>
                            <a href="" class="list-actions-button-details">Szczegóły</a>
                        </li>
                        <li>
                            <a href="/vehicles/details/1" class="list-actions-button-vehicle">Pojazd</a>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Fiat</td>
                <td>500</td>
                <td>JS2RA62SX65342742</td>
                <td>2020-12-2</td>
                <td>Na warsztacie</td>
                <td>100 PLN</td>
                <td>
                    <ul class="list-actions">
                        <li>
                            <a href="" class="list-actions-button-details">Szczegóły</a>
                        </li>
                        <li>
                            <a href="" class="list-actions-button-vehicle">Pojazd</a>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <p><a href="/locations" class="button-back">Powrót</a></p>

</main>

<%- include('../../fragments/footer.ejs')%>