<%- include('../../fragments/header.ejs')%>

<script type="application/javascript" src="/js/validationCommon.js"></script>
<script type="application/javascript" src="/js/validationLocationForm.js"></script>

<main>
    <h2>Nowy Warsztat</h2>
    <form class="form" novalidate onsubmit="return validateForm();">
        <label for="locationName">Nazwa Warsztatu<abbr title="required" aria-label="required">*</abbr></label>
            <input type="text" name="locationName" id="locationName" />
            <span id="errorLocationName" class="errors-text"></span>
            <label for="city">Miasto<sup>*</sup></label>
            <input type="text" name="city" id="city" />
            <span id="errorCity" class="errors-text"></span>
            <label for="street">Ulica<sup>*</sup></label>
            <input type="text" name="street" id="street" />
            <span id="errorStreet" class="errors-text"></span>
            <label for="streetNum">Numer Ulicy<sup>*</sup></label>
            <input type="text" name="streetNum" id="streetNum" />
            <span id="errorStreetNum" class="errors-text"></span>
            <label for="postCode">Kod Pocztowy<sup>*</sup></label>
            <input type="text" name="postCode" id="postCode" />
            <span id="errorPostCode" class="errors-text"></span>
            <label for="post">Poczta<sup>*</sup></label>
            <input type="text" name="post" id="post" />
            <span id="errorPost" class="errors-text"></span>
        <div class="form-buttons">
            <p id="errorsSummary" class="errors-text"></p>
            <input type="submit" class="form-button-submit" value="Dodaj">
            <a href="/locations" class="form-button-cancel">Anuluj</a>
        </div>
    </form>
</main>

<%- include('../../fragments/footer.ejs')%>