<%- include('../../fragments/header.ejs')%>

<main>
    <h2>Nowy Pracownik</h2>
    <form class="form" novalidate onsubmit="return validateForm();">
        <label for="uname">Nazwa użytkownika<abbr title="required" aria-label="required">*</abbr></label>
        <input type="text" name="uname" id="uname" />
        <span id="errorUname" class="errors-text"></span>

        <label for="lastName">Nazwisko<sup>*</sup></label>
        <input type="text" name="lastName" id="lastName" />
        <span id="errorLastName" class="errors-text"></span>

        <label for="firstName">Imie<sup>*</sup></label>
        <input type="text" name="firstName" id="firstName" />
        <span id="errorFirstName" class="errors-text"></span>

        <label for="empRole">Rola</label>
        <select name="empRole" id="empRole" >
            <option value="">--- Wybierz rolę ---</option>
            <option value="1">Administrator</option>
            <option value="2">Mechanik</option>
        </select>
        <span id="errorEmpRole" class="errors-text"></span>

        <div class="form-buttons">
            <p id="errorsSummary" class="errors-text"></p>
            <input type="submit" class="form-button-submit" value="Dodaj">
            <a href="/employees" class="form-button-cancel">Anuluj</a>
        </div>
    </form>
</main>

<%- include('../../fragments/footer.ejs')%>