<%- include('../../fragments/header.ejs')%>

<main>
    <h2>Pracownicy</h2>

    <table class="table-list">
        <thead>
            <tr>
                <th>Nazwa użytkownika</th>
                <th>Nazwisko</th>
                <th>Imie</th>
                <th>Rola</th>
                <th>Aktywny</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>amarchewka</td>
                <td>Marchewka</td>
                <td>Apolonia</td>
                <td>Administrator</td>
                <td>Tak</td>
                <td>
                    <ul class="list-actions">
                        <li>
                            <a href="/employees/add" class="list-actions-button-edit">Edytuj</a>
                        </li>
                        <li>
                            <a href="" class="list-actions-button-delete">Zablokuj</a>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>anowak</td>
                <td>Nowak</td>
                <td>Adam</td>
                <td>Mechanik</td>
                <td>Tak</td>
                <td>
                    <ul class="list-actions">
                        <li>
                            <a href="" class="list-actions-button-edit">Edytuj</a>
                        </li>
                        <li>
                            <a href="" class="list-actions-button-delete">Zablokuj</a>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>mkowalski</td>
                <td>Kowalski</td>
                <td>Marian</td>
                <td>Mechanik</td>
                <td>Tak</td>
                <td>
                    <ul class="list-actions">
                        <li>
                            <a href="" class="list-actions-button-edit">Edytuj</a>
                        </li>
                        <li>
                            <a href="" class="list-actions-button-delete">Zablokuj</a>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <p><a href="/employees/add" class="button-add">Dodaj nowego pracownika</a> </p>

</main>

<%- include('../../fragments/footer.ejs')%>